{% load django_tables2 %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% load sweetify %}
{% sweetify %}

{#<div id="messages" hx-swap-oob="true" hx-swap="innerHTML">#}
{#    {% include 'adminlte/lib/_messages.html' %}#}
{#</div>#}

<div id="main_content_swap">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-12 border border-dark" style="height: 350px">
                    <div class="card" style="padding: 0; height: 100%">
                        <div class="card-header" style="padding: 0;">
                            Listado de departamentos
                        </div>
                        <div class="card-body" style="padding: 0;">
                            <form>
                                {% csrf_token %}
                                <div class="card-body row">
                                    <div class="col-md-12">
{#                                        {% if departamento_documentos_form.helper %}#}
{#                                                        {% crispy departamento_documentos_form %}#}
{#                                                    {% else %}#}
{#                                                        {{ departamento_documentos_form|crispy }}#}
{#                                                    {% endif %}#}
                                        <form class="form-inlineform-group col-md-12 mb-0" method="get" role="form">
                                            {% csrf_token %}
                                            <div class="input-group input-group-sm">
                                                {{ form.departamento|as_crispy_field }}
                                            </div>
                                        </form> 
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-12 border border-dark" style="height: 350px">
                    <div class="card" style="padding: 0; height: 100%">
                        <div class="card-header" style="padding: 0px 15px;">
                                        Documentos del Versat
                                        {% if url_docversat %}
                                            <a id="act_versat_link_url_div_a" style="float:right;padding:0;"
                                               href="{{ url_docversat }}"
                                               class="nav-link"
                                               {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
                                               {% if hx_target %}hx-target="{{ hx_target }}"{% endif %}
                                               role="button" {% if hx %}hx-select-oob="true"{% endif %}>
                                                <i class="fa fa-refresh fa-ms" title="{% trans 'Actualizar' %}"></i>
                                            </a>
                                        {% endif %}
                                    </div>
                        <div class="card-body" style="padding: 0;">
                            {% block datatableversat %}
                                <div class="shadow overflow-auto border dark:border border-gray-200 sm:rounded-lg max-h-[650px] overflow-y-auto">
                                    {% if tableversat %} {% render_table tableversat %} {% endif %}
                                </div>
                            {% endblock datatableversat %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md border border-dark" style="max-height: 100%">
            <div class="card" style="padding: 0; height: 100%">
                <div class="card-header" style="padding: 0;">
                    Listado de documentos
                </div>
                <div class="card-body" style="padding: 0;">
                    <div id="table_content_documento_swap">
                        {% block table_navbar %}
                            {% include 'app_index/cruds/list_table_navbar.html' %}
                        {% endblock table_navbar %}
                        {% block datatable %}
                            <div class="shadow overflow-auto border dark:border border-gray-200 sm:rounded-lg max-h-[650px] overflow-y-auto">
                                {% render_table table %}
                            </div>
                        {% endblock datatable %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        window.data = {
            button_shift_class_container: '{{ table.button_shift_class_container|safe }}',
            js_swal_title: '{{ js_swal_title|safe }}',
            js_swal_text: '{{ js_swal_text|safe }}',
            js_swal_confirmButtonText: '{{ js_swal_confirmButtonText|safe }}',
            js_swal_cancelButtonText: '{{ js_swal_cancelButtonText|safe }}',
        }
        document.querySelectorAll("a.delete_href").forEach((ref) => {
            ref.addEventListener("click", function (e) {
                e.preventDefault()
                let record = "\n" + e.target.parentElement.attributes['is'].nodeValue
                swal.fire({
                    title: '¿Está seguro que desea eliminar este elemento?' + record,
                    text: '¡Esta acción no podrá revertirse!',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmar Eliminar',
                    cancelButtonText: 'Cancelar',
                    backdrop: true,
                    showLoaderOnConfirm: true,
                    preConfirm:()=>{
                        location.href = e.target.parentElement.href
                    },
                    allowOutsideClick:()=>false,
                    allowEscapeKey:()=>false
                })
            })
        })
        document.querySelectorAll("a.activar_href").forEach((ref) => {
            ref.addEventListener("click", function (e) {
                e.preventDefault()
                let record = "\n" + e.target.parentElement.attributes['is'].nodeValue
                swal.fire({
                    title: "Está seguro que desea activar " + record,
                    text: e.target.parentElement.attributes['texto'].nodeValue,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: "Confirmar Activar",
                    cancelButtonText: 'Cancelar',
                    backdrop: true,
                    showLoaderOnConfirm: true,
                    preConfirm:()=>{
                        location.href = e.target.parentElement.href
                    },
                    allowOutsideClick:()=>false,
                    allowEscapeKey:()=>false
                })
            })
        })

       document.querySelectorAll("a.confirm_href").forEach((ref) => {
            ref.addEventListener("click", function (e) {
                e.preventDefault()
                let record = "\n" + e.target.parentElement.attributes['is'].nodeValue
                swal.fire({
                    title: "Está seguro que desea confirmar " + record,
                    text: e.target.parentElement.attributes['texto'].nodeValue,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: "Confirmar",
                    cancelButtonText: 'Cancelar',
                    backdrop: true,
                    showLoaderOnConfirm: true,
                    preConfirm:()=>{
                        location.href = e.target.parentElement.href
                    },
                    allowOutsideClick:()=>false,
                    allowEscapeKey:()=>false
                })
            })
        })
    </script>
</div>

