{% load i18n %}
<div id="input_password_div" class="form-group input-group mb-3 has-feedback">
    <input id="input_password" type="{% if password_show %}text{% else %}password{% endif %}"
           name="password" class="form-control" data-toggle="password" placeholder="{% trans 'Password' %}">
    <div class="input-group-append">
        <div class="input-group-text">
            <span id="input_password_span_eye"
                  class="fas fa-eye"
                  style="cursor: pointer"
                  hx-get="{% url 'app_index:usuario:password_show' %}?show={% if password_show %}false{% else %}true{% endif %}"
                  hx-target="#input_password_div"
                  hx-swap="outerHTML"
                  hx-trigger="click"
{#                  hx-include='[name="password"]'#}
                  title="{% if password_show %}{% trans 'Hide password'  %}{% else %}{% trans 'Show password'  %}{% endif %}"
            ></span>
        </div>
    </div>
</div>