{% load i18n %}
<div id="input_password_div" class="form-group input-group mb-3 has-feedback">
    <input id="input_password" type="password" name="password" class="form-control" data-toggle="password" placeholder="{% trans 'Password' %}">
    <div class="input-group-append">
        <div class="input-group-text">
            <span id="input_password_span_eye"
                  class="fas fa-eye-slash"
                  style="cursor: pointer"
                  hx-get="{% url 'app_index:usuario:password_show' %}"
                  hx-target="#input_password_div"
                  hx-swap="outerHTML"
                  hx-trigger="click"
                  hx-include='[name="password"]'
                  title="{% trans 'Show password'  %}"
            ></span>
        </div>
    </div>
</div>