/.idea/
/.venv/
.venv/
.vscode/
/.env.local
*/__pycache__/*
*.pyc
/staticfiles/download/*.*
/staticfiles/upload/*.*
/importar/fixtures/*.json
/config/.env.local
/codificadores/fixtures/ConfigTodas.json
/preparacarga/
/Reportes/output/*.*
