{% if record.is_child_node %}
    {% for ancestor in record.get_ancestors %}
        {% if forloop.last %}
            &nbsp;&nbsp;&nbsp;
        {% else %}
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        {% endif %}
    {% endfor %}
    {% if record.get_children %}
        <strong><em>{{ record.descripcion }}</em></strong>
    {% else %}
        {{ record.descripcion }}
    {% endif %}
{% endif %}
{% if record.encabezado %}
        <strong><em>{{ record.descripcion }}</em></strong>
{% else %}
    {{ record.descripcion }}
{% endif %}
