{% load i18n %}
<div id="div_id_norma_tiempo" class="form-group">
    <label for="id_norma_tiempo" class="{% if show_norma_tiempo %}{%else%}requiredField{%endif%}">{% translate 'Norma Tiempo (hrs.)' %}{% if show_norma_tiempo %}<span class="asteriskField">*</span>{% endif %}</label>
    <div style="display">
        <input type="number" name="norma_tiempo" value="{{valornorma_tiempo}}" step="1" min="0" class="numberinput form-control" required="" {% if show_nr_media %}disabled{%else%}enabled{%endif%} id="id_norma_tiempo">
    </div>
</div>





