{% load departamento_tags %}
{% load crud_tags %}
{% load crispy_forms_filters %}
{% load i18n %}
{% load django_tables2 %}
{% load partials %}

{% partialdef create_link_menu %}
    {% if url_create and hay_departamento %}
        {% crud_url object "create" namespace as url %}
        {% if url and 'create' in views_available and crud_perms.create and view.view_type == 'list' %}
            <li class="nav-item dropdown dropright">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fa fa-file-circle-plus" title="Adicionar documento"></i>
                </a>
                {% if inicializado %}
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                        <li><a class="dropdown-item dropdown-toggle" href="#">Entrada </a>
                            <ul class="dropdown-menu">
                                {% for tipo_doc in tipo_doc_entrada %}
                                    <li><a id="id-create-{{ tipo_doc.descripcion|slugify }}"
                                           class="dropdown-item"
                                           href="{{ url }}"
                                           hx-get="{{ url }}"
                                           hx-trigger="click"
                                           {% if hx_form_target %}hx-target="{{ hx_form_target }}" {% else %}hx-target="#dialog"{% endif %}
                                           {% if hx_form_swap %}hx-swap="{{ hx_form_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
                                           hx-vals='{"tipo_doc": "{{ tipo_doc.id }}", "departamento": "{{ form.departamento.value|safe }}"}'>
                                        {{ tipo_doc.descripcion }}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        <li><a class="dropdown-item dropdown-toggle" href="#">Salida </a>
                            <ul class="dropdown-menu" style="margin-top: 35px;">
                                {% for tipo_doc in tipo_doc_salida %}
                                    <li><a id="id-create-{{ tipo_doc.descripcion|slugify }}"
                                           class="dropdown-item"
                                           href="{{ url }}"
                                           hx-get="{{ url }}"
                                           hx-trigger="click"
                                           hx-target="#dialog"
                                           hx-swap="outerHTML"
                                           hx-vals='{"tipo_doc": "{{ tipo_doc.id }}", "departamento": "{{ form.departamento.value|safe }}"}'>
                                        {{ tipo_doc.descripcion }}
                                    </a></li>
                                {% endfor %}
                            </ul>
                        </li>
                    </ul>
                {% else %}
                       <ul class="dropdown-menu">
                            {% for tipo_doc in tipo_doc_entrada %}
                                <li><a id="id-create-{{ tipo_doc.descripcion|slugify }}"
                                       class="dropdown-item"
                                       href="{{ url }}"
                                       hx-get="{{ url }}"
                                       hx-trigger="click"
                                       {% if hx_form_target %}hx-target="{{ hx_form_target }}" {% else %}hx-target="#dialog"{% endif %}
                                       {% if hx_form_swap %}hx-swap="{{ hx_form_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
                                       hx-vals='{"tipo_doc": "{{ tipo_doc.id }}", "departamento": "{{ form.departamento.value|safe }}"}'>
                                    {{ tipo_doc.descripcion }}
                                </a></li>
                            {% endfor %}
                        </ul>
                {% endif %}
            </li>
        {% endif %}
    {% endif %}
{% endpartialdef %}

{% partialdef create_link %}
    {% if url_create %}
        <div id="create_link_url_div" style="display: flex; align-items: center">
            {% crud_url object "create" namespace as url %}
            {% if url and 'create' in views_available and crud_perms.create and view.view_type == 'list' %}
                <a id="id_create_url"
                   href="{{ url }}{{ getparams }}"
                   class="nav-link"
                   hx-get="{{ url }}{{ getparams }}"
                   hx-trigger="click"
                   {% if hx_form_target %}hx-target="{{ hx_form_target }}" {% else %}hx-target="#dialog"{% endif %}
                   {% if hx_form_swap %}hx-swap="{{ hx_form_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
{#                       hx-replace-url="true"#}
                   role="button">
                    <i class="fa fa-file-circle-plus" title="{% trans 'Create new ' %} {{ model_verbose_name|lower }}"></i>
                </a>
            {% endif %}
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef back_button %}
    {% if return_url %}
        <a hx-get="{{ return_url }}"
           hx-trigger="click"
           {% if hx_target %}hx-target="{{ hx_target }}" {% else %}hx-target="#main_content_swap"{% endif %}
           {% if hx_swap %}hx-swap="{{ hx_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
           hx-replace-url="true"
           href="{{ return_url }}"
           class="nav-link"
        role="button"
        >
            <i class="fa fa-angle-double-left"></i>
            {% trans "Back to" %} {{ model_verbose_name_plural|lower }}
        </a>
    {% endif %}
{% endpartialdef %}

{% partialdef form_select_filter %}
    {% if request.user.is_adminempresa and url_list_normaconsumo %} {# si tiene permiso#}
        <div style="align-items: center; font-size: x-large">&nbsp&#9474&nbsp</div>
        <div class="my-auto" style="align-items: center">Tipo de Producto: </div>
        <div id="form_select_filter_div" style="display: flex; align-items: center">
            <form class="form-inlineform-group col-md-12 mb-0" method="get" role="form">
                {% csrf_token %}
                <div class="input-group input-group-sm">
                    {{ filter.form.tipo }}
                </div>
            </form>
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef form_select_period %}
    {% if request.user.is_operflujo and select_period %} {# si tiene permiso#}
        {% if object_list %}
        	<div style="align-items: center; font-size: x-large;">&nbsp&#9474&nbsp</div>
        {% endif %}
        <div class="my-auto" style="align-items: center">Período: </div>
        <div id="form_select_period_div" style="display: flex; align-items: center">
            <div class="my-auto">
                <form class="form-inlineform-group form-control-sm col-md-12 mb-0" method="get" role="form">
                    {% csrf_token %}
                        {{ form.rango_fecha|as_crispy_field }}
                </form>
            </div>
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef act_versat_link_url_partial %}
    {% if request.user.is_adminempresa and url_apiversat %} {# si tiene permiso#}
        <div id="act_versat_link_url_div" style="display: flex; align-items: center">
                {# aquí se debe poner el link de importar#}
                <a id="act_versat_link_url_div_a"
                   href="{% url url_apiversat %}"

                   class="nav-link"
                   {% if hx_get %}hx-get="{{ hx_get }}"{% endif %}
                   {% if hx_form_target %}hx-target="{{ hx_form_target }}" {% else %}hx-target="#dialog"{% endif %}
                   {% if hx_form_swap %}hx-swap="{{ hx_form_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
            {#               hx-get="{{ url }}{{ getparams }}"#}
            {#               hx-trigger="click"#}
            {#               hx-target="#main_content_swap"#}
            {#               hx-swap="outerHTML"#}
            {#               hx-replace-url="true"#}
                   role="button" {% if hx %}hx-select-oob="true"{% endif %}>
            {#                <img#}
            {#                        src="{% static 'dist/img/database-import.svg' %}"#}
            {#                        class="icon"#}
            {#                        style="height: 20px;"#}
            {#                        alt="{% translate 'Update from Versat' %}"/>#}
                    <i class="fa fa-database" title="{% trans 'Update from ' %}{{sistema}}"></i>
                </a>
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef  import_link_url_partial %}
    {% if url_importar %}
        <div id="import_link_url_div" style="display: flex; align-items: center">
            <a id="import_link_url_div_a"
               href="{% url url_importar %}"
               class="nav-link"
        {#               hx-get="{{ url }}{{ getparams }}"#}
        {#               hx-trigger="click"#}
        {#               hx-target="#main_content_swap"#}
        {#               hx-swap="outerHTML"#}
        {#               hx-replace-url="true"#}
               role="button" {% if hx %}hx-select-oob="true"{% endif %}>
                <i class="fa fa-file-import" title="{% trans 'Import' %}"></i>
            </a>
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef  export_link_url_partial %}
    {% if request.user.is_adminempresa and url_exportar %}
        <div id="export_link_url_div" style="display: flex; align-items: center">
            <a id="export_link_url_div_a"
               href={% if filtrar %} "{% export_url "sisgest" %}" {% else %} "{% url url_exportar %}" {% endif %}
               class="nav-link"
            {#               hx-get="{{ url }}{{ getparams }}"#}
            {#               hx-trigger="click"#}
            {#               hx-target="#main_content_swap"#}
            {#               hx-swap="outerHTML"#}
            {#               hx-replace-url="true"#}
               role="button" {% if hx %}hx-select-oob="true"{% endif %}>
                <i class="fa fa-file-export" title="{% trans 'Export' %}"></i>
            </a>
        </div>
    {% endif %}
{% endpartialdef %}

{% partialdef  inicializar_departamento_partial %}
    {% is_initialized form.departamento.value request.user.ueb as inicializado %}
    {% get_departamento_name form.departamento.value as departamento_name %}
    {% get_departamento_object form.departamento.value as departamento_object %}
    {% if not inicializado and form.departamento.value %}
        {% crud_nurl departamento_object "inicializar" namespace as nurl %}
        <a id="inicializar_departamento_link_url_div_a"
           hx-post="{% url nurl pk=departamento_object.pk %}{{ getparams }}"
           hx-trigger="confirmed"
           {% if hx_target %}hx-target="{{ hx_target }}" {% else %}hx-target="#table_content_documento_swap"{% endif %}
           {% if hx_swap %}hx-swap="{{ hx_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
           id="confirm_href_{{ departamento_object.pk }}"
           href="{% url nurl pk=departamento_object.pk %}{{ getparams }}"
           is="{{ departamento_object }}"
           class="nav-link inicializar_href"
           texto="{{ texto_inicializar }}"
           role="button" {% if hx %}hx-select-oob="true"{% endif %}
           style="display: inline; float: right; padding-top: 0; padding-bottom: 0;">
            <i class="fa fa-folder-open fa-sm" title="Inicializar Departamento {% if departamento_name %} {{ departamento_name }}{% endif %}"></i>
        </a>
    {% endif %}
{% endpartialdef %}