{% load i18n %}
<div id="div_id_clase" class="form-group">
    <label for="div_id_clase" style="{% if not esmatprim %}display:none{%else%} {%endif%}" class= "{% if esmatprim %}requiredField{%else%} {%endif%}">{% translate 'Clase Materia Prima...' %}{% if esmatprim %}<span class="asteriskField">*</span>{% endif %}</label>
    <div style="{% if not esmatprim %}display:none{%else%} {%endif%}">
        <select name="clase" style="width: 100%" hx-get="{% url 'app_index:codificadores:rendimientocapa' %}" hx-target="#div_id_rendimientocapa" hx-trigger="load, change" hx-include="[name=&quot;rendimientocapa&quot;]" class="selectwidget custom-select" "{% if esmatprim %}required{%else%} {%endif%}" id="id_clase">
            {% if not clase_seleccionada %}
                <option value="" selected>---------</option>
                {% for clase in clases_mp %}
                    <option value="{{ clase.pk }}">{{ clase.descripcion }}</option>
                {% endfor %}
            {% else %}
                {% for clase in clases_mp %}
                    <option
                            value="{{ clase.pk }}"
                            {% if clase_seleccionada.pk == clase.pk %}selected{% endif %}>
                        {{ clase.descripcion }}
                    </option>
                {% endfor %}
            {% endif %}
        </select>
    </div>
</div>
<div id="div_id_precio_lop" class="form-group">
    <label for="id_precio_lop" style="{% if not esmatprim %}display:none{%else%} {%endif%}" class= "{% if esmatprim %}requiredField{%else%} {%endif%}">{% translate 'Precio LOP' %}{% if esmatprim %}<span class="asteriskField">*</span>{% endif %}</label>
    <div style="{% if not esmatprim %}display:none{%else%} {%endif%}">
        <input type="number" name="precio_lop" value="0.0" step="0.0001" min="0.0000" class="numberinput form-control" required="" id="id_precio_lop">
    </div>
</div>





