{% load i18n %}
<label for="div_id_clase" style="{% if not esmatprim %}display:none{%else%} {%endif%}" class= "{% if esmatprim %}requiredField{%else%} {%endif%}">{% translate 'Clase Materia Prima' %}{% if esmatprim %}<span class="asteriskField">*</span>{% endif %}</label>
<div style="{% if not esmatprim %}display:none{%else%} {%endif%}">
    <select name="clase" style="width: 100%" class="selectwidget custom-select" "{% if esmatprim %}required{%else%} {%endif%}" id="id_clase">
        {% if not clase_seleccionada %}
            <option value="" selected>---------</option>
            {% for clase in clases_mp %}
                <option value="{{ clase.pk }}">{{ clase.descripcion }}</option>
            {% endfor %}
        {% else %}
            {% for clase in clases_mp %}
                <option
                        value="{{ clase.pk }}"
                        {% if clase_seleccionada.pk == clase.pk %}selected{% endif %}>
                    {{ clase.descripcion }}
                </option>
            {% endfor %}
        {% endif %}
    </select>
</div>

