{% load i18n %}
<div id="div_id_rendimientocapa" class="form-group">
    <label for="id_rendimientocapa" style="{% if not show_rendimiento %}display:none{%else%} {%endif%}" class= "{% if show_rendimiento %}requiredField{%else%} {%endif%}">{% translate 'Rendimiento x Millar' %}{% if show_rendimiento %}<span class="asteriskField">*</span>{% endif %}</label>
    <div style="{% if not show_rendimiento %}display:none{%else%} {%endif%}">
        <input type="number" name="rendimientocapa" value="{{valorrendimientocapa}}" step="1" min="0" class="numberinput form-control" required="" id="id_rendimientocapa">
    </div>
</div>
<div id="div_id_vitolas" class="form-group">
    <label for="id_vitolas" style="{% if not show_rendimiento %}display:none{%else%} {%endif%}">
                Vitolasssss
      <span class="asteriskField">*</span> </label>
     <div style="{% if not show_rendimiento %}display:none{%else%} {%endif%}">
      <select name="vitolas" class="selectmultiple custom-select" required="" id="id_vitolas" multiple="">
        {% for v in vitolas %}
            <option
                value="{{ v.pk }}"
                {% if v.pk in seleccvitolas %}selected{% endif %}>
                {{ v.descripcion }}
            </option>
        {% endfor %}

</select> </div> </div>




