<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load crud_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<html lang="{{ LANGUAGE_CODE }}">
<head>

  {% block title_outer %}
  <title>{% block title %}{{ site.name }}{% endblock title %}</title>
  {% block favicon %}{% endblock favicon %}
  {% endblock title_outer %}

  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% endblock meta %}

  {% block stylesheets %}
  {% include 'adminlte/lib/_styles.html' %}
  {% endblock %}
    {% block javascript %}
        {% include 'adminlte/lib/_scripts.html' %}
        <script type="text/javascript" src="{% static 'plugins/jquery-cookie/jquery.cookie.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/django_ajax/js/jquery.ajax.js' %}"></script>
        <script type="text/javascript" src="{% static 'plugins/django_ajax/js/jquery.ajax-plugin.js' %}"></script>
    {% endblock javascript %}

  {% block extra_head %}{% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="hold-transition skin-blue sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}">
{% block body %}
<section>
<div class="wrapper" hx-history-elt>
  {% block nav_header %}
  {% include 'adminlte/lib/_main_header.html' %}
  {% endblock nav_header %}

  {% block nav_sidebar %}
  {% include 'adminlte/lib/_main_sidebar.html' %}
  {% endblock nav_sidebar %}

  {% block content_wrapper %}
  <div class="content-wrapper">
    {% block content_header %}
    {% block content_header_class %}
    <div class="content-header">
    {% endblock content_header_class %}
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        {% block page_name %}
                        {% translate 'Starter Page' %}
                        {% endblock page_name %}
                        {% block no_description %}
                            <small>{% block page_description %}
                            {% endblock page_description %}</small>
                        {% endblock no_description %}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% block breadcrumbs %}
                        {# Breadcrumb implementation left to developers #}
                        <li class="breadcrumb-item"><a href="#">{% translate 'Home' %}</a></li>
                        <li class="breadcrumb-item active">{% translate 'Starter Page' %}</li>
                        {% endblock breadcrumbs %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    {% endblock content_header %}

    {% block content_outer %}
    <div class="content" id="main_content">
        {% block messages %}
            <div id="messages">
                {% include 'adminlte/lib/_messages.html' %}
            </div>
        {% endblock %}

      {% block content_block_wrap %}
      {% block content %}{% endblock content %}
      {% endblock content_block_wrap %}
    </div>
    {% endblock %}

  </div>
  {% endblock content_wrapper %}

  {% block nav_footer %}
  {% include 'adminlte/lib/_main_footer.html' %}
  {% endblock nav_footer %}
  {% block right_sidebar %}
  {% include 'adminlte/lib/_main_right_sidebar.html' %}
  {% include 'adminlte/lib/_main_right_sidebar2.html' %}
  {% endblock right_sidebar%}

</div>
</section>
{% endblock body %}
{% block extra_javascript %}{% endblock extra_javascript %}
{% block extra_foot %}{% endblock extra_foot %}
{% load sweetify %}
{% sweetify %}
{% block modal_dialogs_forms %}
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div id="dialog" class="modal-dialog" role="document"></div>
    </div>
{% endblock modal_dialogs_forms %}
<script type="text/javascript">
    ; (function () {
      const modal = new bootstrap.Modal(document.getElementById("modal"))

      htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
        if (e.detail.target.id === "dialog") {
          modal.show()
        } else {
            modal.hide()
        }
      })

      htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id === "dialog" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
        }
      })

      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
      })
    })()
    function update_sidebar(params) {
        console.log(params)
        params = params.toLowerCase();

        if (params !== "/") {
            $(".nav-sidebar li a").each(function (i) {
                let obj = this;
                let url = $(this).attr("href");
                if (url === "" || url === "#") {
                    return true;
                }
                url = url.toLowerCase();
                if (url.indexOf(params) > -1) {
                    $(this).parent().addClass("active open menu-open");
                    $(this).parent().parent().addClass("active open menu-open");
                    $(this).parent().parent().parent().addClass("active open menu-open");
                    $(this).parent().parent().parent().parent().addClass("active open menu-open");
                    $(this).parent().parent().parent().parent().parent().addClass("active open menu-open");
                    return false;
                }
            });
        }
    }
    $(function () {
        console.log('Ready...')
        update_sidebar(window.location.pathname)
    });
</script>

</body>
</html>
