<!DOCTYPE html>
{% load i18n %}
{% load static %}
{% load crud_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<html lang="{{ LANGUAGE_CODE }}">
<head>

  {% block title_outer %}
  <title>{% block title %}{{ site.name }}{% endblock title %}</title>
  {% block favicon %}{% endblock favicon %}
  {% endblock title_outer %}

  {% block meta %}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
  {% endblock meta %}

    {% block stylesheets %}
        {% include 'adminlte/lib/_styles.html' %}
    {% endblock %}
    {% block javascript %}
        {% include 'adminlte/lib/_scripts.html' %}
    {% endblock javascript %}

  {% block extra_head %}{% endblock %}
</head>

<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' class="hold-transition skin-blue sidebar-mini sidebar-collapse layout-footer-fixed layout-navbar-fixed {% block body_class %}{% block bodyclass %}{% endblock %}{% endblock %}" hx-ext="head-support">
{% block body %}
<section>
<div class="wrapper" hx-history-elt>
  {% block nav_header %}
  {% include 'adminlte/lib/_main_header.html' %}
  {% endblock nav_header %}

  {% block nav_sidebar %}
  {% include 'adminlte/lib/_main_sidebar.html' %}
  {% endblock nav_sidebar %}

  {% block content_wrapper %}
  <div class="content-wrapper">
    {% block content_header %}
    {% block content_header_class %}
    <div class="content-header">
    {% endblock content_header_class %}
        <div class="container-fluid">
            <div class="row mb-2">
                <div class="col-sm-6">
                    <h1 class="m-0">
                        {% block page_name %}
                        {% translate 'Starter Page' %}
                        {% endblock page_name %}
                        {% block no_description %}
                            <small>{% block page_description %}
                            {% endblock page_description %}</small>
                        {% endblock no_description %}
                    </h1>
                </div><!-- /.col -->
                <div class="col-sm-6">
                    <ol class="breadcrumb float-sm-right">
                        {% block breadcrumbs %}
                        {# Breadcrumb implementation left to developers #}
                        <li class="breadcrumb-item"><a href="#">{% translate 'Home' %}</a></li>
                        <li class="breadcrumb-item active">{% translate 'Starter Page' %}</li>
                        {% endblock breadcrumbs %}
                    </ol>
                </div><!-- /.col -->
            </div><!-- /.row -->
        </div><!-- /.container-fluid -->
    </div>
    {% endblock content_header %}

    {% block content_outer %}
    <div class="content" id="main_content">
        {% block messages %}
            <div id="messages">
                {% include 'adminlte/lib/_messages.html' %}
            </div>
        {% endblock %}

      {% block content_block_wrap %}
      {% block content %}{% endblock content %}
      {% endblock content_block_wrap %}
    </div>
    {% endblock %}

  </div>
  {% endblock content_wrapper %}

  {% block nav_footer %}
  {% include 'adminlte/lib/_main_footer.html' %}
  {% endblock nav_footer %}
  {% block right_sidebar %}
  {% include 'adminlte/lib/_main_right_sidebar.html' %}
  {% include 'adminlte/lib/_main_right_sidebar2.html' %}
  {% endblock right_sidebar %}

</div>
</section>
{% endblock body %}
{% block extra_javascript %}{% endblock extra_javascript %}
{% block extra_foot %}{% endblock extra_foot %}
{% load sweetify %}
{% sweetify %}
{% block modal_dialogs_forms %}
    <style>
        .modal-open .modal-backdrop {
          backdrop-filter: blur(1px);
          background-color: rgba(0, 0, 0, 0.5);
          opacity: 1 !important;
        }
    </style>
    <div id="modal" class="modal fade" tabindex="-1" role="dialog">
        <div id="dialog" class="modal-dialog modal-dialog-centered modal-dialog-scrollable" role="document"></div>
    </div>
    <div class="modal in" id="delete_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" style="max-width: 800px" role="document">
        <div class="modal-content" id="delete_modal_inner">
        </div>
      </div>
    </div>
    <div class="modal in" id="edit_modal" tabindex="-1" role="dialog">
      <div class="modal-dialog" style="max-width: 800px" role="document">
        <div class="modal-content" id="edit_modal_inner">
        </div>
      </div>
    </div>
{% endblock modal_dialogs_forms %}
{{ redirect_to_login_immediately }}
<script type="text/javascript">
    ; (function () {
        const modal = new bootstrap.Modal(document.getElementById("modal"))
        const edit_modal = new bootstrap.Modal(document.getElementById("edit_modal"))

        htmx.on("htmx:afterSwap", (e) => {
        // Response targeting #dialog => show the modal
            const events_to_hide = ['submitted', 'inline_submitted', 'confirmed', 'refused'];
            const events_to_reset = ['submited_and_add_another'];
            const events_to_save_and_add_inlines = ['inline_submitted'];
            const events_inline_to_hide = ['inline_submitted', 'inline_confirmed', 'inline_refused'];
            const trigger_to_hide = ['id_form_btn_acept', 'id_form_btn_confirm', 'id_form_btn_refuse', 'id_form_btn_delete']
            const trigger_inline_to_hide = ['id_inline_form_btn_acept']
            const trigger_to_reset = ['id_form_btn_add_another']
            const swap_targets = ['main_content_swap', 'table_content_documento_swap']
            const swap_inline_targets = ['id', 'myList']
            const dialog_targets = ['dialog', 'edit_modal_inner']
            if (e.detail.target.id === dialog_targets[0]) {
                modal.show()
                Inputmask().mask(document.querySelectorAll("input"));
            }
            if (e.detail.target.id === dialog_targets[1]) {
                edit_modal.show()
                Inputmask().mask(document.querySelectorAll("input"));
            }
            if (swap_targets.includes(e.detail.target.id)) {
                console.log(e.detail.requestConfig.headers["HX-Trigger"])
                if (trigger_to_hide.includes(e.detail.requestConfig.headers["HX-Trigger"]) && events_to_hide.includes(e.detail.requestConfig.headers["event_action"])) {
                    modal.hide()
                }
            }
            if (swap_inline_targets.includes(e.detail.target.id.split('_')[0]) && swap_inline_targets.includes(e.detail.target.id.split('_')[2])) {
                console.log(e.detail.requestConfig.headers["HX-Trigger"])
                if (trigger_inline_to_hide.includes(e.detail.requestConfig.headers["HX-Trigger"]) && events_inline_to_hide.includes(e.detail.requestConfig
                    .headers["event_action"])) {
                    console.log(e.detail)
                    edit_modal.hide()
            }
            }

             if (events_to_reset.includes(e.detail.requestConfig.headers["event_action"]) && e.detail.successful) {
                 document.getElementById("id_form_modal").reset()
            }
        })

      htmx.on("htmx:beforeSwap", (e) => {
        // Empty response targeting #dialog => hide the modal
        if (e.detail.target.id === "dialog" && !e.detail.xhr.response) {
          modal.hide()
          e.detail.shouldSwap = false
        }
      })

      // Remove dialog content after hiding
      htmx.on("hidden.bs.modal", () => {
        document.getElementById("dialog").innerHTML = ""
      })
    })()
    function update_sidebar(params) {
        console.log(params)
        params = params.toLowerCase();

        if (params !== "/") {
            $(".nav-sidebar li a").each(function (i) {
                let obj = this;
                let url = $(this).attr("href");
                if (url === "" || url === "#") {
                    return true;
                }
                url = url.toLowerCase();
                if (url.indexOf(params) > -1) {
                    $(this).parent().addClass("active open menu-open");
                    $(this).parent().parent().addClass("active open menu-open");
                    $(this).parent().parent().parent().addClass("active open menu-open");
                    $(this).parent().parent().parent().parent().addClass("active open menu-open");
                    $(this).parent().parent().parent().parent().parent().addClass("active open menu-open");
                    return false;
                }
            });
        }
    }
    $(function () {
        update_sidebar(window.location.pathname)
    });
</script>

</body>
</html>
