{% load django_tables2 %}
{% load i18n %}
{% load crud_tags %}

<div id="form_length_change_div" style="display: flex; align-items: center" hx-swap-oob="true">
    {% if object_list %}
        {% crud_url object "list" namespace as url %}
        {% if url and 'list' in views_available and crud_perms.list %}
            <div class="my-auto">
                <form id="form_length_change" class="form-inline" method="GET">
                    <span style="padding-right: 5px">{% translate 'Show' %}</span>
                    <select name='length_change' id='length_change' style="height: fit-content;"
                                hx-get="{{ url_list }}{{getparams}}"
                                hx-trigger="change"
                                hx-target="#main_content_swap"
                                hx-swap="outerHTML"
                        >
                        {% for option in page_length_menu %}
                            <option value="{{ option|stringformat:"i" }}" {% if option == paginator.per_page %} selected{% endif %}>{{ option }}</option>
                        {% endfor %}
                    </select>
                    <span style="padding-left: 5px">{% translate 'Entries' %}</span>
                </form>
            </div>
        {% endif %}
    {% endif %}
</div>

<div id="create_link_url_div" style="visibility: hidden; display: flex; align-items: center" hx-swap-oob="true">
    {% if url_create %}
        {% crud_url object "create" namespace as url %}
        {% if url and 'create' in views_available and crud_perms.create and view.view_type == 'list' %}
            <a id="id_create_url"
               hx-get="{{ url }}{{ getparams }}"
               hx-trigger="click"
               hx-target="#main_content_swap"
               hx-swap="outerHTML"
               hx-replace-url="true"
               href="{{ url }}{{ getparams }}"
               class="nav-link"
               role="button">
                <i class="fa fa-file-circle-plus" title="{% trans 'Create new ' %} {{ model_verbose_name|lower }}"></i>
            </a>
        {% endif %}
{% endif %}
</div>

<a id="visibility_columns_link" style="visibility: hidden" class="nav-link" data-toggle="dropdown" href="#" hx-swap-oob="true">
    <i class="fa fa-eye-slash" title="{% translate 'Visibility columns' %}"></i>
</a>

<a id="export_url" style="visibility: hidden" class="nav-link" href="{% export_url "xlsx" %}&excluded_columns={{ col_vis }}" role="button" hx-swap-oob="true">
    <i class="fa fa-file-excel" title="{% translate 'Export to excel' %}"></i>
</a>


<div id="search_header_div" style="visibility: hidden; display: flex; align-items: center" hx-swap-oob="true">
    {% if search %}
        {% block right_navbar_links_toggle_right_search_menu %}
            <li class="nav-item">
                <a class="nav-link"
                   data-widget="control-sidebar"
                   data-slide="true"
                   data-target="#search-sidebar"
                   href="#"
                   role="button"
                >
                    <i class="fas fa-search" title={% translate 'Search' %}></i>
                </a>
            </li>
        {% endblock right_navbar_links_toggle_right_search_menu %}
    {% endif %}
</div>

<div id="filter_header_div" style="visibility: hidden; display: flex; align-items: center" hx-swap-oob="true">
    {% if filter %}
        {% block right_navbar_links_toggle_right_filter_menu %}
            <li class="nav-item">
                <a class="nav-link"
                   data-widget="control-sidebar"
                   data-slide="true"
                   data-target="#filter-sidebar"
                   href="#"
                   role="button">
                    <i class="fas fa-filter" title={% translate 'Filter' %}></i>
                </a>
            </li>
        {% endblock right_navbar_links_toggle_right_filter_menu %}
    {% endif %}
</div>


<div id="main_content_swap">
    <div class="row" style="padding: 0;">
        <div class="col-md-12 col-md-offset-1">
            {% if crud_perms.list %}
                <a href="{{ url_list }}{{getparams}}" class="btn btn-primary"
                   hx-get="{{ url_list }}{{getparams}}"
                   hx-trigger="click"
                   hx-target="#main_content_swap"
                   hx-swap="outerHTML"
                   hx-replace-url="true">
                    <i class="fa fa-angle-double-left"></i>
                    {% trans "Back to" %} {{ model_verbose_name_plural|lower }}
                </a>
            {% endif %}
            <div class="card mx-auto" style="width: 100%; padding: 0; margin-top: 8px; margin-bottom: 0">
    {#            <div class="card-header with-border border-primary" style="background-color: lightgreen">#}
    {#                <h3 class="card-title">{% trans "Edit" %} {{ model_verbose_name }}</h3>#}
    {#            </div>#}
                <script>
                    window.data = {
                        filterTextClear: '{{ filterTextClear|safe }}',
                        filterPlaceHolder: '{{ filterPlaceHolder|safe }}',
                        moveSelectedLabel: '{{ moveSelectedLabel|safe }}',
                        moveAllLabel: '{{ moveAllLabel|safe }}',
                        removeSelectedLabel: '{{ removeSelectedLabel|safe }}',
                        removeAllLabel: '{{ removeAllLabel|safe }}',
                        infoText1: '{{ infoText1|safe }}',
                        infoText2: '{{ infoText2|safe }}',
                        infoTextFiltered: '{{ infoTextFiltered|safe }}',
                        infoTextEmpty: '{{ infoTextEmpty|safe }}',
                        today: '{{ today|safe }}',
                        clear: '{{ clear|safe }}',
                        close: '{{ close|safe }}',
                        selectMonth: '{{ selectMonth|safe }}',
                        prevMonth: '{{ prevMonth|safe }}',
                        nextMonth: '{{ nextMonth|safe }}',
                        selectYear: '{{ selectYear|safe }}',
                        prevYear: '{{ prevYear|safe }}',
                        nextYear: '{{ nextYear|safe }}',
                        selectDecade: '{{ selectDecade|safe }}',
                        prevDecade: '{{ prevDecade|safe }}',
                        nextDecade: '{{ nextDecade|safe }}',
                        prevCentury: '{{ prevCentury|safe }}',
                        nextCentury: '{{ nextCentury|safe }}',
                        pickHour: '{{ pickHour|safe }}',
                        incrementHour: '{{ incrementHour|safe }}',
                        decrementHour: '{{ decrementHour|safe }}',
                        pickMinute: '{{ pickMinute|safe }}',
                        incrementMinute: '{{ incrementMinute|safe }}',
                        decrementMinute: '{{ decrementMinute|safe }}',
                        pickSecond: '{{ pickSecond|safe }}',
                        incrementSecond: '{{ incrementSecond|safe }}',
                        decrementSecond: '{{ decrementSecond|safe }}',
                        togglePeriod: '{{ togglePeriod|safe }}',
                        selectTime: '{{ selectTime|safe }}'
                    }
                </script>

                {% include "cruds/_form.html" with action='update' %}

              {% if inlines%}
                <div class="card-body row">
                    <div class="col-md-12">

                        <div class="panel panel-default">
                        {% for inline in inlines%}
                        <div class="panel-heading">
                            <h3 class="panel-title">{{inline.title}}</h3>
                        </div>
                        <div class="panel-body">
                            <div id="{{inline.name}}_father">
                                {% if 'list' in inline.views_available %}
                                <div data-refresh-url="{% crud_inline_url form.instance inline.model 'list' namespace %}" id="{{inline.name}}_myList">

                                    <a id="{{inline.name}}_btn" data-replace-inner="#{{inline.name}}_myList"
                                        data-ajax="" data-success="function(){}"
                                        data-href="{% crud_inline_url form.instance inline.model 'list' namespace %}">
                                        <i class='fa fa-spinner fa-spin '></i>
                                    </a>
                                    <script>
                                    $( document ).ready(function() {$("#{{inline.name}}_btn").click() });
                                    </script>
                                </div>
                                {% endif %}
                                <div id="{{inline.name}}_editList"></div>
                                {% if 'create' in inline.views_available %}
                                <button class="btn btn-success"
                                    data-href="{% crud_inline_url form.instance inline.model 'create' namespace %}"

                                    id="#{{ name }}_{{ object.pk }}_add"
                                    data-replace-inner="#edit_modal_inner"


                                    data-replace-inner="#{{inline.name}}_editList"
                                    data-ajax="" data-success="function(){}" >
                                    {% trans 'Create' %}
                                </button>
                                {% endif %}
                            </div>
                        </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            {% endif %}
            </div>
        </div>
    </div>
</div>
