{% load i18n l10n crud_tags %}
{% crud_nurl object "detail" namespace as nurl %}
{% if nurl and 'detail' in views_available and crud_perms.detail %}
    <a href="{% url nurl record.pk %}{{ getparams }}"
       title="{% trans 'Show' %}">
        <i class="fa-1x fa fa-eye"
           style="margin-right: 5px;"></i>
    </a>
{% endif %}

{% crud_nurl object "update" namespace as nurl %}
{% if nurl and 'update' in views_available and crud_perms.update %}
    <a href="{% url nurl record.pk %}{{ getparams }}"
       title="{% trans 'Edit' %}">
        <i class="fa-1x fa fa-edit"
           style="margin-right: 5px;"></i>
    </a>
{% endif %}
{% crud_nurl object "delete" namespace as nurl %}
{% if nurl and 'delete' in views_available and crud_perms.delete %}
    <a id="delete_href" href="{% url nurl record.pk %}{{ getparams }}"
       is="{{ record }}" {# para usar en sweetalert2 a través de 'e.target.parentElement.attributes['is'].nodeValue' #}
       class="delete_href"
       title="{% trans 'Delete' %}">
        <i id="trash_icon" class="fa-1x fa fa-trash">
        </i>
    </a>
{% endif %}
