{% load i18n l10n crud_tags %}
{% crud_nurl object2 "list" namespace as nurl %}
{% if nurl and 'list' in views_available and crud_perms.list %}
    <a hx-get="{% url nurl %}?Clave={{ record.Clave_id|safe }}"
       hx-trigger="click"
       {% if hx_target %}hx-target="{{ hx_target }}" {% else %}hx-target="#main_content_swap"{% endif %}
       {% if hx_swap %}hx-swap="{{ hx_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
       hx-replace-url="true"
        href="{% url nurl %}?Clave={{ record.Clave_id|safe }}"
       title="Listar configuraciones">
        <i class="fa-1x fa fa-list-alt"
           style="margin-right: 5px;"></i>
    </a>
{% endif %}
