{% load i18n l10n crud_tags %}
    <a
        hx-get="{% url 'app_index:flujo:obtener_documento_versat' %}"
       hx-trigger="click"
        hx-vals='{"iddocumento_numero": "{{ record.iddocumento_numero }}", "iddocumento_numctrl": "{{ record.iddocumento_numctrl }}", "iddocumento_fecha": "{{ record.iddocumento_fecha }}", "iddocumento_concepto": "{{ record.iddocumento_concepto }}", "iddocumento_almacen": "{{ record.iddocumento_almacen }}", "iddocumento_sumaimporte": "{{ record.iddocumento_sumaimporte }}", "detalle": "{{ record.iddocumento_detalle }}"}'
{#        hx-vals='{"iddocumento_numero": "{{ record.iddocumento_numero }}", "iddocumento_numctrl": "{{ record.iddocumento_numctrl }}", "iddocumento_fecha": "{{ record.iddocumento_fecha }}", "iddocumento_concepto": "{{ record.iddocumento_concepto }}, "iddocumento_almacen": "{{ record.iddocumento_almacen }}", "iddocumento_sumaimporte": "{{ record.iddocumento_sumaimporte }}", "detalle": "{{ record.iddocumento_detalle }}"}'#}
       {% if hx_form_target %}hx-target="{{ hx_form_target }}" {% else %}hx-target="#dialog"{% endif %}
       {% if hx_form_swap %}hx-swap="{{ hx_form_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
{#       hx-replace-url="true"#}
       {% if object.id %}href="{% url 'app_index:flujo:obtener_documento_versat' %}" {% else %}href="#"{% endif %}
       title="Obtener Documento {{ record.iddocumento }}">
        <i class="fa fa-person-carry"
           style="margin-right: 5px;"></i>
    </a>

