{% load i18n l10n crud_tags %}
    {% if not record.existe_sistema %}
        <a
            hx-get="{% url 'app_index:flujo:traer_producto_versat' %}"
           hx-trigger="click"
            hx-vals='{"producto_codigo": "{{ record.producto_codigo }}", "producto_descripcion": "{{ record.producto_descripcion }}", "medida_clave": "{{ record.medida_clave }}", "cantidad": "{{ record.cantidad }}", "precio": "{{ record.precio }}"}'
           {% if hx_form_target %}hx-target="{{ hx_form_target }}" {% else %}hx-target="#dialog"{% endif %}
           {% if hx_form_swap %}hx-swap="{{ hx_form_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
           {% if object.id %}href="{% url 'app_index:flujo:traer_producto_versat' %}" {% else %}href="#"{% endif %}
           title="Pasar producto al sistema {{ record.iddocumento }}">
            <i class="fa fa-box-open"
               style="margin-right: 5px;"></i>
        </a>
    {% endif %}

