{% load departamento_tags %}
{% if action != 'detail' %}
    {% if object.fila %} {% not_in object.fila "['1', '1.1', '1.2']" as is_not_in %}  {% else %} {% not_in object.tipodocumento.pk "[4, 13]" as is_not_in %} {% endif %}
    {% include 'cruds/actions/acept_button.html' %}
    {% if inlines %}
        {% include 'cruds/actions/acept_and_add_inline_button.html' %}
    {% else %}
        {% include 'cruds/actions/acept_and_add_another_button.html' %}
    {% endif %}
    {% include 'cruds/actions/hx_confirm_document_button.html' %}
    {% if object.tipodocumento.generado %}
        {% include 'cruds/actions/hx_refused_document_button.html' %}
    {% endif %}
    {% if object.fila and is_not_in %}
        {% include 'cruds/actions/hx_delete_button.html' %}
    {% else %}
        {% if not object.fila and not object.tipodocumento.generado %}
            {% include 'cruds/actions/hx_delete_button.html' %}
        {% endif %}
    {% endif %}
{% endif %}
{% include 'cruds/actions/hx_cancel_button.html' %}