{% extends 'app_index/cruds/base.html' %}
{% load django_tables2 %}
{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}
{% block favicon %}
  <link rel="shortcut icon" type="image/png" href="{% static app_logo_path %}"/>
{% endblock favicon %}
{% block page_name %}{% endblock page_name %}
{% block breadcrumbs %}{% endblock %}
{% block nav_header %}
  {% include 'app_index/adminlte/lib/_main_header.html' %}
{% endblock nav_header %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div id="main_content_swap">
                <div class="row">
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-12 border border-dark" style="height: 350px">
                                <div class="card" style="padding: 0; height: 100%">
                                    <div class="card-header" style="padding: 0;">
                                        Listado de departamentos
                                    </div>
                                    <div class="card-body" style="padding: 0;">
                                        <form>
                                            {% csrf_token %}
                                            <div class="card-body row">
                                                <div class="col-md-12">
{#                                                    {% if departamento_documentos_form.helper %}#}
{#                                                        {% crispy departamento_documentos_form %}#}
{#                                                    {% else %}#}
{#                                                        {{ departamento_documentos_form|crispy }}#}
{#                                                    {% endif %}#}
                                                       <form class="form-inlineform-group col-md-12 mb-0" method="get" role="form">
                                                            {% csrf_token %}
                                                            <div class="input-group input-group-sm">
                                                                {{ form.departamento|as_crispy_field }}
                                                            </div>
                                                        </form> 
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="col-12 border border-dark" style="height: 350px">
                                <div class="card" style="padding: 0; height: 100%">
                                    <div class="card-header" style="padding: 0;">
                                        Documentos del Versat
                                    </div>
                                    <div class="card-body" style="padding: 0;">
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                <div class="col-md border border-dark" style="max-height: 100%">
                    <div class="card" style="padding: 0; height: 100%">
                        <div class="card-header" style="padding: 0;">
                            Listado de documentos
                        </div>
                        <div class="card-body" style="padding: 0;">
                            {% block table_navbar %}
                                {% include 'app_index/cruds/list_table_navbar.html' %}
                            {% endblock table_navbar %}
                            {% block datatable %}
                            <div class="shadow overflow-auto border dark:border border-gray-200 sm:rounded-lg max-h-[650px] overflow-y-auto">
                                {% render_table table %}
                            </div>
                        {% endblock datatable %}
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </section>
{% endblock content %}
