{% extends 'app_index/cruds/list_table_navbar.html' %}
{% load static %}
{% load django_tables2 %}
{% load i18n %}
{% load crud_tags %}

{% block list_act_versat_table_main_header %}
    {# aquí se debe poner el link de importar#}
    <a id="id_create_url"
       href="{% url 'app_index:appversat:um_appversat' %}"

       class="nav-link"
{#               hx-get="{{ url }}{{ getparams }}"#}
{#               hx-trigger="click"#}
{#               hx-target="#main_content_swap"#}
{#               hx-swap="outerHTML"#}
{#               hx-replace-url="true"#}
       role="button">
{#                <img#}
{#                        src="{% static 'dist/img/database-import.svg' %}"#}
{#                        class="icon"#}
{#                        style="height: 20px;"#}
{#                        alt="{% translate 'Update from Versat' %}"/>#}
        <i class="fa fa-database" title="{% trans 'Update from VERSAT' %}"></i>
    </a>
{% endblock list_act_versat_table_main_header %}


{% block list_import_table_main_header %}
    {# aquí se debe poner el link de importar#}
    {% if request.user.is_adminempresa %}
        <a id="id_create_url"
           href="{% url 'app_index:importar:um_importar' %}"
           class="nav-link"
    {#               hx-get="{{ url }}{{ getparams }}"#}
    {#               hx-trigger="click"#}
    {#               hx-target="#main_content_swap"#}
    {#               hx-swap="outerHTML"#}
    {#               hx-replace-url="true"#}
           role="button">
            <i class="fa fa-file-import" title="{% trans 'Import' %}"></i>
        </a>
    {% endif %}
{% endblock list_import_table_main_header %}


{% block list_export_table_main_header %}
    {# aquí se debe poner el link de exportar#}
    <a id="id_create_url"
       href="{% url 'app_index:exportar:um_exportar' %}"
       class="nav-link"
{#               hx-get="{{ url }}{{ getparams }}"#}
{#               hx-trigger="click"#}
{#               hx-target="#main_content_swap"#}
{#               hx-swap="outerHTML"#}
{#               hx-replace-url="true"#}
       role="button">
        <i class="fa fa-file-export" title="{% trans 'Export' %}"></i>
    </a>
{% endblock list_export_table_main_header %}
