{% extends 'adminlte/base.html' %}
{% load static %}
{% load i18n %}
{% block favicon %}
  <link rel="shortcut icon" type="image/png" href="{% static '/dist/img/cubatabaco_logo.png' %}"/>
{% endblock favicon %}
{% block page_name %}{% endblock page_name %}
{% block breadcrumbs %}{% endblock %}
{% block nav_header %}
  {% include 'app_index/adminlte/lib/_main_header.html' %}
{% endblock nav_header %}

{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-12">
                    <div class="login-box mx-auto" style="width: 45rem;">
                        <!-- /.login-logo -->
                        {% block card_image %}
                            <div class="card card-outline-primary">
                                <div class="card-header text-center" style="background-color: whitesmoke";>
                                    <a href="{% block logo_href %}/{% endblock logo_href %}">
                                        <img src="{% static 'dist/img/underconstruction.png' %}"
                                            alt="Hechos Extraordinarios"
                                            class="brand-image mx-auto"
                                             width="650" height="350"
                                             style="opacity: .8;">
                                            {% block logo_text %}{% endblock %}
                                    </a>
                                </div>
                                <div class="card-body" style="background-color: lightgreen">
                                     <p class="h1 font-weight-bold text-center" style="color: white"> Página en elaboración</p>
                                </div>
                            </div>
                        {% endblock card_image %}
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
