{% load crispy_forms_filters %}
{% load crispy_forms_tags %}
{% load static %}
{% load django_tables2 %}
{% load i18n %}
{% load crud_tags %}
{% load partials %}

<style>
    .dropdown-toggle.active-dropdown::after {
        transform: rotate(-90deg);
    }
    .dropright .dropdown-menu{
        left:auto!important;
        right:0!important;
        top: 35px!important;
    }
</style>

<nav id="id_table_navbar" class="navbar navbar-expand navbar-white navbar-light"
    style="padding-bottom: 0; padding-top: 0; height: 35px;">
<!-- Left table navbar links -->
{% block left_table_navbar_links %}
    <ul class="navbar-nav">
        {% block left_table_navbar_links_change_menu %}
            <div id="form_length_change_div" style="display: flex; align-items: center">
                {% if object_list %}
                    {% crud_url object "list" namespace as url %}
                    {% if url and 'list' in views_available and crud_perms.list %}
                        <div class="my-auto">
                            <form id="form_length_change" class="form-inline" method="GET">
                                <span style="padding-right: 5px">{% trans 'Show' %}</span>
                                <select name='length_change' id='length_change' style="height: fit-content;"
                                    hx-get="{{ url_list }}{{getparams}}"
                                    hx-trigger="change"
                                    {% if hx_target %}hx-target="{{ hx_target }}" {% else %}hx-target="#main_content_swap"{% endif %}
                                    {% if hx_swap %}hx-swap="{{ hx_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
                                >
                                    {% for option in page_length_menu %}
                                        <option value="{{ option|stringformat:"i" }}" {% if option == paginator.per_page %} selected{% endif %}>{{ option }}</option>
                                    {% endfor %}
                                </select>
                                <span style="padding-left: 5px">{% translate 'Entries' %}</span>
                            </form>
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endblock left_table_navbar_links_change_menu %}
        {% block left_table_navbar_links_other %}
            {% if object_list %}
                {% include 'app_index/partials/partialdef_templates.html#form_select_filter' %}
            {% endif %}
            {% include 'app_index/partials/partialdef_templates.html#form_select_period' %}
        {% endblock left_table_navbar_links_other %}
        {% block left_table_navbar_links_back_button %}
            {% include 'app_index/partials/partialdef_templates.html#back_button' %}
        {% endblock %}
    </ul>
{% endblock left_table_navbar_links %}
<!-- Right table navbar links -->
{% block right_table_navbar_links %}
<ul class="navbar-nav ml-auto">
    {% block list_act_versat_table_main_header %}
        {# aquí se debe poner el link de importar#}
        {% include 'app_index/partials/partialdef_templates.html#act_versat_link_url_partial' %}
    {% endblock list_act_versat_table_main_header %}
    {% block list_create_table_main_header %}
{#        {% if url_create %}#}
{#            <div id="create_link_url_div" style="display: flex; align-items: center">#}
{#                {% crud_url object "create" namespace as url %}#}
{#                {% if url and 'create' in views_available and crud_perms.create and view.view_type == 'list' %}#}
{#                    <a id="id_create_url"#}
{#                       href="{{ url }}{{ getparams }}"#}
{#                       class="nav-link"#}
{#                       hx-get="{{ url }}{{ getparams }}"#}
{#                       hx-trigger="click"#}
{#                       hx-target="#dialog"#}
{#                       hx-swap="outerHTML"#}
    {#                       hx-replace-url="true"#}
{#                       role="button">#}
{#                        <i class="fa fa-file-circle-plus" title="{% trans 'Create new ' %} {{ model_verbose_name|lower }}"></i>#}
{#                    </a>#}
{#                {% endif %}#}
{#            </div>#}
{#        {% endif %}#}
        {% if create_link_menu %}
        	 {% include 'app_index/partials/partialdef_templates.html#create_link_menu' %}
        {% else %} 
             {% include 'app_index/partials/partialdef_templates.html#create_link' %}
        {% endif %}
    {% endblock list_create_table_main_header %}
    {% block list_export_table_main_header %}
        {# aquí se debe poner el link de exportar#}
        {% include 'app_index/partials/partialdef_templates.html#export_link_url_partial' %}
    {% endblock list_export_table_main_header %}
    {% block list_import_table_main_header %}
        {# aquí se debe poner el link de importar#}
        {% include 'app_index/partials/partialdef_templates.html#import_link_url_partial' %}
    {% endblock list_import_table_main_header %}
    {% if object_list %}
        <a id="table_export_url" class="nav-link" href="{% export_url "xlsx" %}&excluded_columns={{ col_vis }}" role="button">
            <i class="fa fa-file-excel" title="{% translate 'Export to excel' %}"></i>
        </a>
    {% endif %}
    {% if table.shift_table_column %}
        <div id="table_visibility_link_dropdown_menu" class="btn-group dropdown keep-open" hx-preserve="true">
            {% block table_button_group_head %}
                <a id="table_visibility_columns_link" class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fa fa-eye-slash" title="{% translate 'Visibility columns' %}"></i>
                </a>
            {% endblock table_button_group_head %}
            {% block table_button_group_dropdown_menu %}
                <ul id="table_vibility_menu" role="listbox" 
                    tabindex="0" 
                    aria-label="visibility_menu" 
                    class="dropdown-menu dropdown-menu-right" 
                    style="min-width:200px; padding:5px; cursor:pointer;">
                    {% for column in table.columns %}
                        {% if column.attrs.td.class not in table.get_column_excluded %}
                            {% if column.name in table.get_column_default_show %}
                                <li tabindex="-1" role="option" aria-checked="false" class="btn-shift-column-visivility"
                                    {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {%endif %}
                                >
                                    <input tabindex="-1" type="checkbox" style="margin-left: 2px;"
                                        class="form-check-input"
                                        {% if column.name not in table.col_vis %}
                                           checked
                                        {% endif %}
                                        name="set_visibility_value"
                                        id="set_{{ column.name }}_visibility_value"
                                        hx-get="{{ url_list }}{{ getparams }}vis={{ column.name }}"
                                        hx-trigger="click"
                                        {% if hx_target %}hx-target="{{ hx_target }}" {% else %}hx-target="#main_content_swap"{% endif %}
                                        {% if hx_swap %}hx-swap="{{ hx_swap }}" {% else %}hx-swap="outerHTML"{% endif %}
                                        {% if col_vis_hx_include %}hx-include="{{ col_vis_hx_include }}"{% endif %} 
{#                                        hx-replace-url="true"#}
                                    >
                                    <label class="form-check-label" for="set_{{ column.name }}_visibility_value" style="margin-left: 20px;">{{ column.header }}</label>
                                    <input type="hidden" name="visibility" value={{ column.name }}>
                                </li>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endblock table_button_group_dropdown_menu %}
        </div>
    {% endif %}
    <div id="filter_header_div" style="display: flex; align-items: center">
        {% if filter %}
            {% block right_table_navbar_links_toggle_right_filter_menu %}
                <style>
                    #filtersModal>.modal-backdrop.show
                    {
                        opacity: .1; 
                    }
                </style>  
                <li class="nav-item">
                    <a class="nav-link"
                       data-widget="control-sidebar"
                       data-slide="true"
                       data-target="#filter-sidebar"
{#                       data-toggle="modal" #}
{#                       data-target="#filterModal"#}
                       href="#"
                       role="button">
                        <i class="fas fa-filter" title={% translate 'Filter' %}></i>
                    </a>
                
                </li>
            {% endblock right_table_navbar_links_toggle_right_filter_menu %}
        {% endif %}
    </div>
</ul>
{#    <div class="modal fade" id="filterModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">#}
{#        <link href="{% static 'plugins/select2/css/select2.min.css' %}" rel="stylesheet">#}
{#        <link href="{% static 'plugins/select2-bootstrap4-theme/select2-bootstrap4.min.css' %}" rel="stylesheet">#}
{#        <div class="modal-dialog" #}
{#             {% if width_right_sidebar and height_right_sidebar %}style="max-width: {{ width_right_sidebar }}; max-height: {{ height_right_sidebar }}; left: 270px; top: 70px;" {% endif %} #}
{#             role="document">#}
{#            <div class="modal-content">#}
{#                <div class="modal-header">#}
{#                    <h5 class="modal-title" id="exampleModalLabel">Filtro</h5>#}
{#                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">#}
{#                        <span aria-hidden="true">&times;</span>#}
{#                    </button>#}
{#                    </div>#}
{#                <div class="modal-body">#}
{#                    <div class="card-body" style="padding: 0.5rem;">#}
{#                        <form class="form-horizontal" method="get" role="form">#}
{#                            {% csrf_token %}#}
{#                            {% if width_right_sidebar and height_right_sidebar %}#}
{#                                {% if filter.form.helper %}#}
{#                                    {% crispy filter.form %}#}
{#                                {% else %}#}
{#                                    {{ filter.form|crispy }}#}
{#                                {% endif %}#}
{#                            {% else %}#}
{#                                {% for field in filter.form %}#}
{#                                <div class="row">#}
{#                                    <div class="form-group">#}
{#                                        <label for="{{ field.id_for_label }}"#}
{#                                            class="col-lg-12 control-label">{{ field.label }}</label>#}
{#                                        <div class="col-lg-12 form-group">#}
{#                                            {{ field }}#}
{#                                        </div>#}
{#                                    </div>#}
{#                                </div>#}
{#                                {% endfor %}#}
{#                                <br/>#}
{#                                <input type="submit" class="btn btn-info filter"#}
{#                                    value="{% trans 'Filter' %}"/>#}
{#                                <a class="btn btn-warning" href="?"> {% trans 'Clean filter' %} </a>#}
{#                            {% endif %}#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#                <div class="modal-footer">#}
{#                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{% endblock right_table_navbar_links %}
    <script src="{% static 'plugins/select2/js/select2.full.min.js' %}"></script>
    <script>
         $(function () {
            //Initialize Select2 Elements
            $('.select2').select2()
        
            //Initialize Select2 Elements
            $('.select2bs4').select2({
              theme: 'bootstrap4'
            })
            //htmx.on("htmx:afterSettle", (e) => {
                $( '.dropdown-menu a.dropdown-toggle' ).on( 'click', function ( e ) {
                    var $el = $( this );
                    console.log($el)
                    $el.toggleClass('active-dropdown');
                    var $parent = $( this ).offsetParent( ".dropdown-menu" );
                    if ( !$( this ).next().hasClass( 'show' ) ) {
                        $( this ).parents( '.dropdown-menu' ).first().find( '.show' ).removeClass( "show" );
                    }
                    var $subMenu = $( this ).next( ".dropdown-menu" );
                    $subMenu.toggleClass( 'show' );
            
                    $( this ).parent( "li" ).toggleClass( 'show' );
            
                    $( this ).parents( 'li.nav-item.dropdown.show' ).on( 'hidden.bs.dropdown', function ( e ) {
                        $( '.dropdown-menu .show' ).removeClass( "show" );
                        $el.removeClass('active-dropdown');
                    } );
            
                     if ( !$parent.parent().hasClass( 'navbar-nav' ) ) {
                        $el.next().css( { "top": $el[0].offsetTop, "left": $parent.outerWidth() - 4 } );
                    }
                    return false;
                });
            //})
        })
    </script>
</nav>
