{% extends 'app_index/cruds/base.html' %}
{% load adminlte_helpers %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load crud_tags %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}
{% load sweetify %}
{% sweetify %}



{% block content %}
    <section class="content">
        <div class="container-fluid">
            <div id="main_content_swap">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="padding: 0;">
                            <div class="card-header" style="padding: 0;">
                            </div>
                            <div class="card-body" style="padding: 0;">
                                {% block paginate_up_both %}
                                {% endblock paginate_up_both %}
                                {% block table_navbar %}
                                    {% include 'app_index/cruds/list_table_navbar.html' %}
                                {% endblock table_navbar %}
                                {% block datatable %}
                                    <div class="shadow overflow-auto border dark:border border-gray-200 sm:rounded-lg max-h-[650px] overflow-y-auto">
                                        {% render_table table %}
                                    </div>
                                {% endblock datatable %}
                            </div>
                            <div class="card-footer"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}
{% block extra_javascript %}
    <script>
        window.data = {
            button_shift_class_container: '{{ table.button_shift_class_container|safe }}',
            js_swal_title: '{{ js_swal_title|safe }}',
            js_swal_text: '{{ js_swal_text|safe }}',
            js_swal_confirmButtonText: '{{ js_swal_confirmButtonText|safe }}',
            js_swal_cancelButtonText: '{{ js_swal_cancelButtonText|safe }}',
        }
        document.querySelectorAll("a.delete_href").forEach((ref) => {
            ref.addEventListener("click", function (e) {
                e.preventDefault()
                let record = "\n" + e.target.parentElement.attributes['is'].nodeValue
                swal.fire({
                    title: '¿Está seguro que desea eliminar este elemento: ' + record + '?',
                    text: '¡Esta acción no podrá revertirse!',
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: 'Confirmar Eliminar',
                    cancelButtonText: 'Cancelar',
                    backdrop: true,
                    allowOutsideClick:()=>false,
                    allowEscapeKey:()=>false
                }).then(function(result) {
                      if(result.isConfirmed) {
                          // e.detail.issueRequest(true) // use true to skip window.confirm
                          htmx.trigger(e.target, 'confirmed')
                      }
                })
            })
        })
        document.querySelectorAll("a.activar_href").forEach((ref) => {
            ref.addEventListener("click", function (e) {
                e.preventDefault()
                let record = "\n" + e.target.parentElement.attributes['is'].nodeValue
                swal.fire({
                    title: "¿Está seguro que desea activar " + record + '?',
                    text: e.target.parentElement.attributes['texto'].nodeValue,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: "Confirmar Activar",
                    cancelButtonText: 'Cancelar',
                    backdrop: true,
                    allowOutsideClick:()=>false,
                    allowEscapeKey:()=>false
                }).then(function(result) {
                      if(result.isConfirmed) {
                          // e.detail.issueRequest(true) // use true to skip window.confirm
                          htmx.trigger(e.target, 'confirmed')
                      }
                })
            })
        })
        document.querySelectorAll("a.confirm_href").forEach((ref) => {
            ref.addEventListener("click", function (e) {
                e.preventDefault()
                let record = "\n" + e.target.parentElement.attributes['is'].nodeValue
                swal.fire({
                    title: "¿Está seguro que desea confirmar " + record + '?',
                    text: e.target.parentElement.attributes['texto'].nodeValue,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: "Confirmar",
                    cancelButtonText: 'Cancelar',
                    backdrop: true,
                    allowOutsideClick:()=>false,
                    allowEscapeKey:()=>false
                }).then(function(result) {
                      if(result.isConfirmed) {
                          // e.detail.issueRequest(true) // use true to skip window.confirm
                          htmx.trigger(e.target, 'confirmed')
                      }
                })
            })
        })
    </script>
    <!-- django_tables2_column_shifter -->
{#    <script src="{% static 'js/django_tables2_column_shifter.js' %}"></script>#}
{#    <script src="{% static 'js/list_table.js' %}"></script>#}

{% endblock extra_javascript %}
