{% extends 'app_index/cruds/base.html' %}
{% load adminlte_helpers %}
{% load static %}
{% load i18n %}
{% load l10n %}
{% load crud_tags %}
{% load render_table from django_tables2 %}
{% load export_url from django_tables2 %}



{% block content %}
    <section class="content">
        <div class="container-fluid">
        {% block table_navbar %}
            {% include 'app_index/cruds/list_table_navbar.html' %}
        {% endblock table_navbar %}
            <div id="main_content_swap">
                <div class="row">
                    <div class="col-12">
                        <div class="card" style="padding: 0;">
                            <div class="card-header" style="padding: 0;">
{#                                {% block table_card_header_actions_links %}#}
{#                                    <div id="table_card_header_actions_links" style="display: flex; align-items: center; padding: 3px">#}
{#                                        {% if object_list %}#}
{#                                            {% crud_url object "list" namespace as url %}#}
{#                                            {% if url and 'list' in views_available and crud_perms.list %}#}
{#                                                {% block table_card_header_actions_links_change_menu %}#}
{#                                                    <div id="form_length_change_div" class="my-auto">#}
{#                                                        <form id="form_length_change" class="form-inline" method="GET">#}
{#                                                            <span style="padding-right: 5px">{% translate 'Show' %}</span>#}
{#                                                            <select name='length_change' id='length_change' style="height: fit-content;"#}
{#                                                                hx-get="{{ url_list }}{{getparams}}"#}
{#                                                                hx-trigger="change"#}
{#                                                                hx-target="#main_content_swap"#}
{#                                                                hx-swap="outerHTML"#}
{#                                                            >#}
{#                                                                {% for option in page_length_menu %}#}
{#                                                                    <option value="{{ option|stringformat:"i" }}" {% if option == paginator.per_page %} selected{% endif %}>{{ option }}</option>#}
{#                                                                {% endfor %}#}
{#                                                            </select>#}
{#                                                            <span style="padding-left: 5px">{% translate 'Entries' %}</span>#}
{#                                                        </form>#}
{#                                                    </div>#}
{#                                                {% endblock table_card_header_actions_links_change_menu %}#}
{#                                            {% endif %}#}
{#                                        {% endif %}#}
{#                                        {% if url_create %}#}
{#                                            {% block table_card_header_create_link %}#}
{#                                                {% crud_url object "create" namespace as url %}#}
{#                                                {% if url and 'create' in views_available and crud_perms.create and view.view_type == 'list' %}#}
{#                                                    <a id="id_create_url" style="padding-bottom: 3px;padding-top: 3px;"#}
{#                                                       href="{{ url }}{{ getparams }}"#}
{#                                                       class="nav-link ml-auto"#}
{#                                                       hx-get="{{ url }}{{ getparams }}"#}
{#                                                       hx-trigger="click"#}
{#                                                       hx-target="#main_content_swap"#}
{#                                                       hx-swap="outerHTML"#}
{#                                                       hx-replace-url="true"#}
{#                                                       role="button">#}
{#                                                        <i class="fa fa-file-circle-plus" title="{% trans 'Create new ' %} {{ model_verbose_name|lower }}"></i>#}
{#                                                    </a>#}
{#                                                {% endif %}#}
{#                                            {% endblock table_card_header_create_link %}#}
{#                                        {% endif %}#}
{#                                        {% if table.shift_table_column %}#}
{#                                            <div id="visibility_link_dropdown_menu" class="btn-group">#}
{#                                                {% block button_group_head %}#}
{#                                                    <a id="visibility_columns_link" class="nav-link" data-toggle="dropdown" href="#">#}
{#                                                        <i class="fa fa-eye-slash" title="{% translate 'Visibility columns' %}"></i>#}
{#                                                    </a>#}
{#                                                {% endblock button_group_head %}#}
{#                                                {% block button_group_dropdown_menu %}#}
{#                                                    <ul id="vibility_menu" role="listbox" tabindex="0" aria-label="visibility_menu" class="dropdown-menu" style="min-width:250px; padding:5px; cursor:pointer;">#}
{#                                                        {% for column in table.columns %}#}
{#                                                            {% if column.attrs.td.class not in table.get_column_excluded %}#}
{#                                                                {% if column.name in table.get_column_default_show %}#}
{#                                                                    <li tabindex="-1" role="option" aria-checked="false" class="btn-shift-column-visivility"#}
{#                                                                        {% if not forloop.last %} style="border-bottom:1px solid #ccc;" {%endif %}#}
{#                                                                    >#}
{#                                                                            <input tabindex="-1" type="checkbox" style="margin-left: 2px;"#}
{#                                                                                class="form-check-input"#}
{#                                                                                {% if column.name not in table.col_vis %}#}
{#                                                                                   checked#}
{#                                                                                {% endif %}#}
{#                                                                                name="set_visibility_value"#}
{#                                                                                id="set_{{ column.name }}_visibility_value"#}
{#                                                                                hx-get="{{ url_list }}{{ getparams }}vis={{ column.name }}"#}
{#                                                                                hx-trigger="click"#}
{#                                                                                hx-target="#main_content_swap"#}
{#                                                                                hx-swap="outerHTML"#}
{#                                                                                hx-replace-url="true">#}
{#                                                                            <label class="form-check-label" for="set_{{ column.name }}_visibility_value" style="margin-left: 20px;">{{ column.header }}</label>#}
{#                                                                            <input type="hidden" name="visibility" value={{ column.name }}>#}
{#                                                                    </li>#}
{#                                                                {% endif %}#}
{#                                                            {% endif %}#}
{#                                                        {% endfor %}#}
{#                                                    </ul>#}
{#                                                {% endblock button_group_dropdown_menu %}#}
{#                                            </div>#}
{#                                            <a id="export_url" class="nav-link" href="{% export_url "xlsx" %}&excluded_columns={{ col_vis }}" role="button">#}
{#                                                <i class="fa fa-file-excel" title="{% translate 'Export to excel' %}"></i>#}
{#                                            </a>#}
{#                                        {% endif %}#}
{#                                        {% if search %}#}
{#                                            {% block table_header_actions_links_toggle_right_search_menu %}#}
{#                                                <a class="nav-link"#}
{#                                                   data-widget="control-sidebar"#}
{#                                                   data-slide="true"#}
{#                                                   data-target="#search-sidebar"#}
{#                                                   href="#"#}
{#                                                   role="button"#}
{#                                                >#}
{#                                                    <i class="fas fa-search" title={% translate 'Search' %}></i>#}
{#                                                </a>#}
{#                                            {% endblock table_header_actions_links_toggle_right_search_menu %}#}
{#                                        {% endif %}#}
{#                                        {% if filter %}#}
{#                                            {% block table_header_actions_links_toggle_right_filter_menu %}#}
{#                                                <a class="nav-link"#}
{#                                                   data-widget="control-sidebar"#}
{#                                                   data-slide="true"#}
{#                                                   data-target="#filter-sidebar"#}
{#                                                   href="#"#}
{#                                                   role="button">#}
{#                                                    <i class="fas fa-filter" title={% translate 'Filter' %}></i>#}
{#                                                </a>#}
{#                                            {% endblock table_header_actions_links_toggle_right_filter_menu %}#}
{#                                        {% endif %}#}
{#                                    </div>#}
{#                                {% endblock table_card_header_actions_links %}#}
                                <div class="card-body" style="padding: 0;">
                                    {% block paginate_up_both %}
                                        {% if paginate_position == 'Up' or paginate_position == 'Both' %}
                                            {% include paginate_template %}
                                        {% endif %}
                                    {% endblock paginate_up_both %}
                                    {% block datatable %}
                                        <div class="shadow overflow-auto border dark:border border-gray-200 sm:rounded-lg max-h-[650px] overflow-y-auto">
                                            {% render_table table %}
                                        </div>
                                    {% endblock datatable %}
                                </div>
                                <div class="card-footer"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>

{% endblock content %}
{% block extra_javascript %}
    <script>
        window.data = {
            button_shift_class_container: '{{ table.button_shift_class_container|safe }}',
            js_swal_title: '{{ js_swal_title|safe }}',
            js_swal_text: '{{ js_swal_text|safe }}',
            js_swal_confirmButtonText: '{{ js_swal_confirmButtonText|safe }}',
            js_swal_cancelButtonText: '{{ js_swal_cancelButtonText|safe }}',
        }
        document.querySelectorAll("a.delete_href").forEach((ref) => {
            ref.addEventListener("click", function (e) {
                e.preventDefault()
                let record = "\n" + e.target.parentElement.attributes['is'].nodeValue
                swal.fire({
                    title: window.data.js_swal_title + record,
                    text: window.data.js_swal_text,
                    icon: 'question',
                    showCancelButton: true,
                    confirmButtonColor: '#3085d6',
                    cancelButtonColor: '#d33',
                    confirmButtonText: window.data.js_swal_confirmButtonText,
                    cancelButtonText: window.data.js_swal_cancelButtonText,
                    backdrop: true,
                    showLoaderOnConfirm: true,
                    preConfirm:()=>{
                        location.href = e.target.parentElement.href
                    },
                    allowOutsideClick:()=>false,
                    allowEscapeKey:()=>false
                })
            })
        })
    </script>
    <!-- django_tables2_column_shifter -->
{#    <script src="{% static 'js/django_tables2_column_shifter.js' %}"></script>#}
{#    <script src="{% static 'js/list_table.js' %}"></script>#}

{% endblock extra_javascript %}
